.table {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.cell {
  /* text-align: center; */
  width: 40%;
  border-top: 1px solid;
}

.cell-heade {
  text-align: center;
  width: 150px;
  border-bottom: 1px solid;
}